body {
  font-family: Tahoma, sans-serif;
  background-color: #f5fff0;
  margin: 0;
  padding: 0;
  text-align: center;
}
header, footer {
  background-color: #006400;
  color: white;
  padding: 15px;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
main {
  padding: 50px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 5px 0;
  font-size: 18px;
}
